<div class="content" role="main">

  <!-- Match Details -->
  <div class="split top">
    <div class="centered">
      <h2>Match Details</h2>
      <div *ngIf="tennisMatchDetail">
        <table class="matchDetails">
          <tr>
            <th>Players</th>
            <th *ngFor="let setScore of tennisMatchDetail.setScores; let i = index">
              Set {{i+1}}
            </th>
          </tr>
          <tr>
            <td><span [ngClass]="{'dot' : playerOneServing()}"></span>PlayerOne</td>
            <td *ngFor="let setScore of tennisMatchDetail.setScores">
              {{setScore.playerOneScore}}
            </td>
          </tr>
          <tr>
            <td><span [ngClass]="{'dot' : playerTwoServing()}"></span>PlayerTwo</td>
            <td *ngFor="let setScore of tennisMatchDetail.setScores">
              {{setScore.playerTwoScore}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Event recorder -->
  <div class="split bottom">
    <div class="middleAlign">
      <label for="fname">Employee name:</label>
      <input type="text" id="fname" name="fname" [(ngModel)]="employeeName">
    </div>
    <div class="centeredTop">
      <h2>Game Events</h2>
      <p>Select an event:</p>

      <div class="card-container">
        <div class="card card-small" (click)="sendChangeServerEvent()">
          <span>Change Server</span>
        </div>

        <!-- Scoring events -->
        <table>
          <tr>
            <td>
              <div class="card card-small" (click)="sendScorePlayerOneEvent()">
                <span>Score Player 1</span>
              </div>
            </td>
            <td>
              <div class="card card-small" (click)="sendScorePlayerTwoEvent()">
                <span>Score Player 2</span>
              </div>
            </td>
          </tr>

          <!-- Set won events -->
          <!-- <tr>
            <td>
              <div class="card card-small" (click)="selection.value = 'component'">
                <span>Set won Player 1</span>
              </div>
            </td>
            <td>
              <div class="card card-small" (click)="selection.value = 'component'">
                <span>Set won Player 2</span>
              </div>
            </td>
          </tr> -->
        </table>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>