<h2>Match Details</h2>
<div *ngIf="matchDetail">
  <table class="matchDetails">
    <tr>
      <th>Players</th>
      <th *ngFor="let setScore of matchDetail.setScores; let i = index">
        Set {{i+1}}
      </th>
    </tr>
    <tr>
      <td><span [ngClass]="{'dot' : playerOneServing()}"></span>PlayerOne</td>
      <td *ngFor="let setScore of matchDetail.setScores">
        {{setScore.playerOneScore}}
      </td>
    </tr>
    <tr>
      <td><span [ngClass]="{'dot' : playerTwoServing()}"></span>PlayerTwo</td>
      <td *ngFor="let setScore of matchDetail.setScores">
        {{setScore.playerTwoScore}}
      </td>
    </tr>
  </table>
</div>